.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0,0,0,0.2) 10px 2px 20px -2px ;
}
*{
  padding: 0;
  margin: 0;
}
.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav-links ul,.nav-links a{
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
